<!-- <p>home works!</p> -->
<app-header/>
<section class="questionnaire section">
    <div class="container">    
        <button class="button" [routerLink]="'/create-questionnaire'"><i class="ri-add-line">&#160;&#160;&#160;</i>New Questionnaire</button>
    </div>

    <div class="container">
        <p class="section__title">My Questionnaires</p>
    </div>

    <div *ngIf="questionnaires && questionnaires.length > 0" class="questionnaires__container container grid">
        <article *ngFor="let questionnaire of questionnaires"  class="questionnaires__card">
            <div class="questionnaires__content">
                <p class="questionnaires__subtitle">{{ questionnaire.subTitle }}</p>
                <p class="questionnaires__title">{{ questionnaire.title }}</p>
                <p class="questionnaires__description">{{ questionnaire.description }}</p>
                <p *ngIf="questionnaire.published == false" class="questionnaires__subtitle">Unpublished</p>
                <p *ngIf="questionnaire.published == true" class="questionnaires__subtitle">Published</p>
            </div>

            <button class="questionnaires__buttons button" [routerLink]="'/questionnaire'"><i class="ri-eye-2-line">&#160;&nbsp;&#160;</i>View</button>
        </article>
    </div>

    <div>
        <p *ngIf="!questionnaires || questionnaires.length <= 0" class="questionnaires__container container questionnaires__title">No Questionnaires found</p>
    </div>
</section>
