<!-- <p>forgot-password works!</p> -->
<div class="forgot-password-container">
    <div [formGroup]="forgotPasswordFormControl" class="forgot-password-content">
        <i class="ri-lock-line form-icon"></i>

        <p class="title">Trouble Loggin In?</p>
        <p class="title-intro">Enter your email, or phone and we'll send a verification code to this email or phone number if it matches an existing ProbeKIT account.</p>

        <mat-form-field appearance="outline">
            <mat-label>Mobile number, username, or email</mat-label>
            <input formControlName="username" matInput type="text">

            <mat-error *ngIf="forgotPasswordFormControl.controls['username'].hasError('required')">
            Mobile number, username, or email is required
            </mat-error>
            <mat-error *ngIf="forgotPasswordFormControl.controls['username'].hasError('email')  && !isFormControlValueString()">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="!forgotPasswordFormControl.controls['username'].hasError('phoneNumber') && isFormControlValueString()">
                Please enter a valid phone number
            </mat-error>
        </mat-form-field>

        <input type="submit" value="Send Reset Token" [routerLink]="'/send-token'">

        <!-- <p class="forgot-label">Can't forgot your password?</p> -->

        <div class="or-line-divder">
            <p> or </p>
        </div>

        <p class="alternative-label" [routerLink]="'/register'">Create new account</p>

    </div>
</div>

<div class="forgot-password-container">
    <div [formGroup]="forgotPasswordFormControl" class="forgot-password-content">

        <p class="alternative">Back to <span [routerLink]="'/login'">Log in</span></p>

    </div>
</div>