<!-- <p>reset-password works!</p> -->
<div class="reset-password-container">
    <div [formGroup]="resetPasswordFormControl" class="reset-password-content">
        <i class="ri-lock-unlock-line form-icon"></i>

        <p class="title">Choose Your New Password</p>
        <p class="title-intro">Choose a strong password that you haven't used before and make it <br>at least 7 characters long.</p>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text' "/>
            <mat-icon (click)="hide = !hide " matSuffix>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>

            <mat-error *ngIf="resetPasswordFormControl.controls['password'].hasError('required')">
                Password is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input formControlName="confirmPassword" matInput [type]=" hide ? 'password' : 'text' "/>
            <mat-icon (click)="hide = !hide " matSuffix>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>

            <mat-error *ngIf="resetPasswordFormControl.controls['confirmPassword'].hasError('required')">
                Please confirm your password
            </mat-error>
        </mat-form-field>

        <input type="submit" [routerLink]="'/new-password'" value="Reset Password">
    </div>
</div>
