<!-- <p>login works!</p> -->
<div class="login-container">
    <div [formGroup]="loginFormControl" class="login-content">
        <p class="app-name">ProbeKIT</p>

        <p class="title">Login</p>
        <p class="title-intro">Welcome Back !</p>

        <mat-form-field appearance="outline">
            <mat-label>Phone number, username, or email</mat-label>
            <input formControlName="username" matInput type="text">

            <mat-error *ngIf="loginFormControl.controls['username'].hasError('required')">
                Phone number, username, or email is required
            </mat-error>
            <mat-error *ngIf="loginFormControl.controls['username'].hasError('email') && !isFormControlValueString()">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="!loginFormControl.controls['username'].hasError('required') && loginFormControl.controls['username'].hasError('phoneNumber') && isFormControlValueString()">
                Please enter a valid phone number
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text' "/>
            <mat-icon (click)="hide = !hide " matSuffix>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>

            <mat-error *ngIf="loginFormControl.controls['password'].hasError('required')">
                Password is required
            </mat-error>
        </mat-form-field>

        <input type="submit"  [routerLink]="'/home'" value="Log in">

        <div class="or-line-divder">
            <p> or </p>
        </div>

        <div class="google-card">
            <app-google-login-card/>
        </div>

        <p class="forgot-label" [routerLink]="'/reset-password'">Forgot Password?</p>

        
    </div>
</div>

<div class="login-container">
    <div class="login-content">
        <p class="alternative">Don't have an account?&nbsp;&nbsp;&nbsp;<span [routerLink]="'/register'">Register</span></p>
    </div>
</div>