<!-- <p>reset-password works!</p> -->
<div class="reset-password-container">
    <div [formGroup]="resetPasswordFormControl" class="reset-password-content">
        <i class="ri-lock-line form-icon"></i>

        <p class="title">Trouble Loggin In?</p>
        <p class="title-intro">Enter your email, phone, or username and we'll send you a link to get back into your account.</p>

        <mat-form-field appearance="outline">
            <mat-label>Phone number, username, or email</mat-label>
            <input formControlName="phoneNumber" matInput type="text">

            <mat-error *ngIf="">
            Mobile number, or email is required
            </mat-error>
            <mat-error *ngIf="">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="">
                Please enter a valid phone number
            </mat-error>
        </mat-form-field>

        <input type="submit" value="Send Login Link">

        <p class="reset-label">Can't reset your password?</p>

        <div class="or-line-divder">
            <p> or </p>
        </div>

        <p class="alternative-label" [routerLink]="'/register'">Create new account</p>

    </div>
</div>

<div class="reset-password-container">
    <div [formGroup]="resetPasswordFormControl" class="reset-password-content">

        <p class="alternative">Back to <span [routerLink]="'/login'">Log in</span></p>

    </div>
</div>